<div class="cocktail-banner mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('.../assets/images/bar-photo.jpg'); height: 300px">
    <p>A good cocktail is always nice.</p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="bg-white border rounded cocktail-card col-md-3 m-4">
        <h3> <%= cocktail.name %> </h3>
        <% cocktail.ingredients.each do |ingredient|%>
        <li> <%= ingredient.name %> </li>
        <% end %>
        <%= link_to "see details", cocktail_path(cocktail), class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
